<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="page_content" id="page_content">
  <div class="col-sm-9">
  <div class="row">
    <div class="col-sm-9">
      <h1>Update Application</h1>
    </div>
  </div>
  <form action="#" th:action="@{'~/application/' + ${app.id} + '/update'}" th:object="${app}" method="post">
    <div class="row">
      <div class="col-sm-3">
        <p>Name:</p>
        <p>DNS:</p>
        <p>Health Endpoint:</p>
      </div>
      <div class="col-sm-3">
        <input type="text" th:field="*{name}" />
        <input type="text" th:field="*{dns}" />
        <input type="text" th:field="*{healthEndpoint}" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
</div>

</html>