<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

  <div layout:fragment="page_content" id="page_content">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-3" th:each="app : ${apps}">
          <div class="well" th:classappend="${app.healthy} ? online : offline">
            <h4><a th:text="${app.name}" th:href="@{'application/' + ${app.id}}"></a></h4>
            <p th:text="${app.name}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>